
header {
    height: 100px;
}

#header-top {
    height: 50px;
}

h1 {
    margin-top: 40px;
    margin-right: 50px;
    color:cornflowerblue;
}

#header-bottom {
    height: 50px;
    background-color: cornflowerblue;;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    color: #fff;
}

main {
    height: calc(100vh - 140px);
    background-color: dimgrey;
}

.card {
    width: 20%;
    display: inline-block;
    margin: 20px 10px;
}

header h1 {
    font-family: 'Sedgwick Ave Display', cursive;
}

main {
    overflow-y: auto;
}